
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 300px;
    border: 1px solid red;
    border-radius: 15px;
    background: linear-gradient(rgb(84, 60, 60),rgb(27, 5, 5));
  }
  
  .slide {
    display: none;
    transition: opacity 0.5s ease-in-out;
    height: 230px;
  }

  .slide.active {
    display: block;
    opacity: 1;
  }
  
  .slide > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .slide h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .slide p {
    font-size: 16px;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(151, 147, 147);
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color:rgb(245, 41, 41);
  }